<!-- NavBar for the other pages -->
<head>
    <meta charset="UTF-8">
    <title>ValoWiki</title>
    <link rel="stylesheet" href="/ValoWiki/styles/NavBar.css">
    <link rel="stylesheet" href="../styles/NavBar.css">
</head>
<nav>
    <ul>
        <li><img src="../images/valorant.png"></li>
        <li><a href="../index.html">Home</a></li>
        <li><a href="../pages/agents.html">Agents</a></li>
        <li><a href="../pages/skins.html">Skins</a></li>
        <li><a href="../pages/esport.html">Esports</a></li>
    </ul>
</nav>