* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    margin: 0;
}

header {
    background-color: #ff4655;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #fff;
    font-size: 2.5rem;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.team-list {
    width: 50%;
}

#team-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.team-list h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #ff4655;
}

.team {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    text-align: center;
}


.team-logo img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.team:hover .team-logo {
    display: none;
}

.team:hover .player-list {
    display: block;
}

.player-list {
    display: none;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    position: static; /* remove absolute positioning */
    transform: none;
}

.player-list ul {
    list-style-type: none;
    color: #fff;
}

.player-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.player-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.match-list {
    width: 50%;
}

.match-list h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #ff4655;
}

.match-card {
    background-color: #2a2a2a;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.match-card .team {
    display: flex;
    margin: 50px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.match-card .team span {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 10px;
}

.match-card .team .logo-team img {
    width: 150px;
    height: auto;
    margin: 0 10px;
}

.match-card .date {
    font-size: 1rem;
    color: #bbb;
}

footer {
    background-color: #111;
    text-align: center;
    padding: 10px;
    color: #888;
}
